<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="RUN ME FIRST!">
		<setting label="Check SU Permissions" type="action" action="RunScript($CWD/resources/lib/runfirst.py)"/>
    </category>
	<category label="Settings">
		<setting label="Power Option" type="enum" id="powerop" values="Put Device to Sleep|Power Off Device|Do Nothing" default="0"/>
        <setting label="Logoff XBMC Profile" id="logoffbool" type="bool" default="false" enable="!eq(-1,1)"/>
        <setting label="Stop Paused Video" id="stopvideo" type="bool" default="false"/>
    </category>
</settings>